@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
html {
  --primary: #000;
  --secondary: #fff;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Josefin Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  background-color: var(--secondary);
  background-image: url(./images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.content {
  width: 500px;
  border: 1px solid #b3ff00;
  margin: 20px;
}

.content .title {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 35px;
  color: white;
  font-weight: 700;
  margin: 40px 0px;
  letter-spacing: 10px;
}

.content #myInput, .content li {
  background-color: white;
  padding: 20px 45px;
  font-size: 20px;
  width: 100%;
  border: black;
  margin: 20px 0px;
}

.content input::-webkit-input-placeholder {
  color: #9394a5;
}

.content input:-ms-input-placeholder {
  color: #9394a5;
}

.content input::-ms-input-placeholder {
  color: #9394a5;
}

.content input::placeholder {
  color: #9394a5;
}

#myInput {
  border-radius: 5px;
  border: #25273c;
  margin-bottom: 10px;
}

.list {
  -webkit-box-shadow: 0px 5px 10px var(--primary);
          box-shadow: 0px 5px 10px var(--primary);
}

.li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: solid 2px brown;
}

button {
  border-radius: 100%;
  height: 15px;
  width: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: black;
  background-color: linear-gradient #57ddff to #c058f3;
}

p {
  padding: 20px 45px;
  font-size: 20px;
  color: #484b6a;
}

.attribution {
  font-size: 11px;
  position: fixed;
  bottom: 10px;
  color: #cacde8;
}

.attribution a {
  color: #3a7bfd;
}

@media (prefers-color-scheme: dark) {
  html {
    --primary: #fff;
    --secondary: #000;
  }
}
