@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


.attribution { 
    font-size: 11px; 
    text-align: center;
a {
    color: hsl(228, 45%, 44%);
}}

body{
    background-color: hotpink;
}